* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* height: 100vh; */
  
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.flexbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bde3f5;
    padding: 2.5% 30%;
   
}

.card {

    background-color: rgb(252, 252, 252);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 425px;
    box-shadow: 2px 2px 5px lightgrey;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
 

}

.card img {
    max-width: 78%;
    height:auto;
    border-radius: 25px;
}

.card h2 {
    text-align: center;
    font-size: 1.2em;
}


.card p {
    text-align: center;
    font-size: 15px;
}


